@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to MyRecipes App</h1>

  <br><br><h3>@Html.ActionLink("See My Recipes", "Index", "UserRecipes")</h3>
  <br><h3>@Html.ActionLink("Create an Account", "Index", "Account")</h3>
    
</div>
